<ol>
  <li><LinkTo @route="works1">This works</LinkTo></li>
  <li><LinkTo @route="works2">And this</LinkTo></li>
  <li><LinkTo @route="broken1">This doesn't</LinkTo></li>
  <li><LinkTo @route="broken2">This neither</LinkTo></li>
</ol>